#pricing {
  text-align: center;
  padding: 6rem 4rem;

  @include for-large-tablet {
    padding: 2rem;
  }

  @include for-phone-only {
    padding: 0 1rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: $text-color-dark;
  }

  .row {
    display: flex;
    justify-content: center;

    @include for-small-tablet {
      flex-direction: column;
    }
  }
}
