#team {
  padding: 4rem;
  text-align: center;
  color: $text-color-dark;

  @include for-phone-only {
    padding: 2rem;
  }

  .team-header {
    h2 {
      font-size: 3rem;
      margin: 1rem 0;
    }

    p {
      font-size: 2rem;
    }
  }

  .team-content {
    display: flex;

    justify-content: center;
    margin: 4rem 0;

    @include for-phone-only {
      flex-direction: column;
      margin: 0;
    }

    .team-member {
      margin: 0 3rem;

      @include for-small-tablet {
        margin: 0 2rem;
      }

      @include for-phone-only {
        margin: 2rem 0;
      }

      img {
        border-radius: 100%;
      }

      h3 {
        font-size: 2rem;
        margin: 1rem 0;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
