$primary: #0284d0;
$primary-tint: #81c2e8;
$overlay-color: rgba(24, 39, 51, 0.9);
$hero-overlay-color: rgba(24, 39, 51, 0.6);
$menu-speed: 0.5s;
$secondary: #021dd0;

/* Text */
$text-color-dark: #333333;
$text-color-light: #ede7e3;

/* Background */
$bg-color-primary: #0284d0;
$bg-color-secondary: #ede7e3;
