.footer {
  background-color: $primary;
  color: $text-color-light;
  padding: 2rem 4rem;
  height: auto;

  @include for-small-tablet {
    padding: 2rem;
  }

  .footer-content {
    display: flex;

    justify-content: space-evenly;

    @include for-phone-only {
      flex-direction: column;
      text-align: center;
    }

    .footer-title {
      text-align: center;
      padding: 0 1rem;
      div {
        @include for-phone-only {
          margin-bottom: 2rem;
        }
        span {
          font-size: 1.3rem;
        }

        p {
          font-size: 2rem;
          margin: 0.7rem 0;

          @include for-small-tablet {
            font-size: 1.5rem;
          }
        }
      }
    }

    .footer-links {
      @include for-phone-only {
        margin-bottom: 2rem;
      }
      ul {
        li {
          margin-bottom: 2rem;

          font-size: 1.3rem;

          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-socials {
      font-size: 1.2rem;

      @include for-phone-only {
        margin-bottom: 2rem;
      }

      a {
        margin: 0 1rem;
      }
    }
  }

  .builtby {
    text-align: center;
    margin-top: 2rem;

    @include for-small-tablet {
      margin-top: 1rem;
    }

    a {
      font-size: 1.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
