.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  background-color: $primary;

  a {
    color: #fff;

    &:hover {
      color: $primary;
    }
  }
}
