.hero {
  background: $hero-overlay-color;
  height: 100vh;
  position: relative;
  color: $text-color-light;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero .content h1 {
  font-size: 3rem;
}

.hero .chevron {
  margin-right: 0.7rem;
}

.hero .content p {
  font-size: 1.7rem;
  max-width: 600px;
  margin: 2rem 0;
}

.hero::before {
  content: "";
  background: url("../../images/home/hero.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

@media (max-width: 610px) {
  .hero .logo {
    display: none;
  }
}

@media (max-width: 540px) {
  .hero .content {
    padding: 0 1.5rem;
  }

  .hero .content h1 {
    font-size: 2.5rem;
  }

  .hero .content p {
    font-size: 1.5rem;
  }
}
