.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 10;

  a {
    color: $text-color-light;
    padding: 10px 20px;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  nav {
    li {
      border: 1px solid transparent;
      padding: 0.7rem 0;
      margin: 0 0.5rem;

      &:hover:not(:last-child) {
        border-bottom: $text-color-light 2px solid;
      }

      &:last-child {
        background-color: $secondary;
        border: 2px solid $secondary;
        border-radius: 10px;

        i {
          margin-right: 1rem;
        }
      }
    }
  }

  ul {
    display: flex;
  }

  .logo {
    font-weight: 400;
  }

  .logo a span {
    font-size: 2rem;
  }
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: $bg-color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* /////////////// Click Event ///////////////// */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: $menu-speed;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

/* ////////////////// Hamburger Animation //////////////////// */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* //////////////////// Menu Wrap //////////////////// */

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 70px;
  height: 70px;
  padding: 1rem;
  background: $overlay-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: $overlay-color;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  xtransition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: white;
  list-style: none;
  font-size: 2.5rem;
  margin: 2rem 0;
  padding: 1rem;

  &:last-child {
    background-color: $primary;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 5rem;

    @include for-phone-only {
      padding: 1rem;
      margin-top: 2rem;
    }

    i {
      margin-right: 1rem;
    }
  }

  @include for-phone-only {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1200px) {
  // .navbar {
  //   flex-direction: column;
  //   padding: 20px;
  //   height: 120px;
  // }

  // .navbar a {
  //   padding: 10px 10px;
  //   margin: 0 3px;
  // }
}

@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

// @media (max-width: 1100px) {
//   .menu-wrap {
//     display: none;
//   }
// }
